<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IdleMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IdleMaster.Properties.Settings>
            <setting name="CookieSessionId" serializeAs="String">
                <value />
            </setting>
            <setting name="CookieLoginSecure" serializeAs="String">
                <value />
            </setting>
            <setting name="CookieMachineAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="CookieRememberLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="CookieParental" serializeAs="String">
                <value />
            </setting>
            <setting name="IdleStyle" serializeAs="String">
                <value />
            </setting>
        </IdleMaster.Properties.Settings>
    </userSettings>
</configuration>